:root{
    --color-white: #f8f3f3;
    --color-blue:#6db3e6;
    --color-darkblue:#1C77D2;
    --color-pink:#F272AE;
    --color-black:#161516b0;
    --color-yellow:#FDB116;
    --color-purple:#8A72ED;

    --color-ilustracion: #F272AE;
    --color-web: #FDB116;
    --color-animacion: #1C77D2;
    --color-3d: #8A72ED;

}