* {
  margin: 0px;
  padding: 0px;
  position: relative;
}
html {
  min-width: 330px; 
}
img {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Rowdies", sans-serif;
  font-size: 2rem;
}

p ,form{
  font-family: 'Aoboshi One', serif;
}

button {
  font-family: "Aoboshi One", serif;
  color: white;
  background-color: #6db3e6;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
  border: solid;
  border-radius: 30px;
  width: 140px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.6rem;
  }

  button {
    font-size: 0.6rem;

    width: 110px;
  }
}